<?xml version="1.0" encoding="utf-8" ?>
        <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <appender name="mdc" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="LOG/mdc.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %p [%X] %m%n"/>
        </layout>


    </appender>

    <root>
        <level value="ERROR"/>
        <param name="file" value="LOG/errors.log"/>
    </root>

</log4j:configuration> 